@charset "utf-8";

#busca{ 
	margin-top: 50px;
}

#busca_form {
	margin-bottom: 20px;
}

.table {
	max-width: 800px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #cecece;
	border-collapse: collapse;
}

.table td, .table th {
	border: 1px solid #cecece;
	padding: .75rem;
}