@charset "UTF-8";

body {
	background-color: #cecece;
}

form {
	max-width: 800px;
	background-color: #fff;
	padding: 15px;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

form label {
	max-width: 40%;
	width: 100%;
	text-align: right;
	margin-right: 10px;
	float: left;
	padding: 5px 0;
}