@charset "utf-8";

html, body {
	font-family: "Arial";
}

p {
	font-size: 12pt;
}

.none {
	display: none!important;
}

#message-error1, #message-error2 {
	background: #ff8e8e;
	padding: 0.25rem .75rem;
	border-radius: 10px;
	color: #ad0000;
	margin-bottom: 10px;
}

.content{
	position: relative;
	width: 100%;
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page-title {
	font-size: 25pt;
	text-align: center;
}

.text-center {
	text-align: center !important;
}

.linha {
	display: flex;
	flex-wrap: wrap;
}

.coluna {
	position: relative;
	flex-basis: 0;
	flex-grow: 1;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
}

label{
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 5px;
}

.field-group {
	display: block;
	margin-bottom: 10px;
}

.form-field {
	max-width: 50%;
	width: 100%;
	border: 1px solid #cecece;
	border-radius: 5px;
	padding: 5px;
	font-size: 12pt;
}

.button {
	cursor: pointer;
	padding: 0.5rem 0.75rem;
	background: #2fbc2d;
	color: #fff;
	font-size: 14pt;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	border: 2px solid #268825;
}

.button:hover {
	background-color: #268825;
}

.border {
	border: 1px solid #3736d9;
	border-radius: 10px;
	padding: 10px 15px;
}

.field-required { 
	color: #ff0000;
}

#obrigado .message {
	display: block;
	max-width: 800px;
	margin: 0 auto;
	background-color: #2fbc2d;
	padding: 10px 15px;
}

#obrigado .message p{
	color: #fff;
	font-size: 14pt;
}